header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  align-items: center;
}
.header-left {
  display: flex;
  align-items: center;
}
.initials {
  background-color: #84a9e6;
  color: #161616;
  font-size: 18px;
  font-family: Arimo, Arial, Helvetica, sans-serif;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-link {
  font-size: 24px;
  font-weight: 700;
  transition: 0.15s;
}

.services-link {
  margin-right: 30px;
}

.header-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}



@media (max-width: 850px) {
  header {
    margin: 40px;
  }
  .initials {
    font-size: 15px;
    height: 42px;
    width: 42px;
    border-radius: 13px;
    margin-right: 17px;
  }
  .header-link {
    font-size: 20px;
  }
  .services-link {
    margin-right: 25px;
  }
}

@media (max-width: 600px) {
  header {
    margin: 6px;
  }
  .initials {
    margin-right: 15px;
  }
  .services-link {
    margin-right: 15px;
  }
}